.photo_text{
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-top: 66px;
}

.photo_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.photo_container_img{
  width: 282px;
  height: 260px;
  margin-bottom: 26px;
  position: relative;
}
.photo_container_img img{
  width: 282px;
  height: 260px;
}
.photo_container_rectangle_top{
  height: 4px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4C858B;
}
.photo_container_rectangle_right{
  height: 50px;
  width: 4px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4C858B;
}
.photo_container_rectangle_bottom{
  height: 4px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4C858B;
}
.photo_container_rectangle_left{
  height: 50px;
  width: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4C858B;
}
