doctype html
html
  section.photo
    hr.overline
    h2.headline_h2 Фото выполненных работ
    p.photo_text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    article.photo_container
      div.photo_container_img
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo1.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo2.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img(style = "margin-right: 0;")
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo3.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo4.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo5.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img(style = "margin-right: 0;")
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo6.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img(style = "display: inline-block;")
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo7.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left
      div.photo_container_img(style = "display: inline-block;")
        div.photo_container_rectangle_top
        div.photo_container_rectangle_right
        img(src="../../assets/images/photo8.png")
        div.photo_container_rectangle_bottom
        div.photo_container_rectangle_left

