doctype html
html
  main.main
    div.main_container
      h1.main_title Монтаж дымоходов
    ul.breadcrumbs
      li.breadcrumbs_item
        a(href = " ") Главная
      li.breadcrumbs_item_last Монтаж дымоходов
    ul.breadcrumbs_mini
      li.breadcrumbs_item
        a(href = " ") Главная
      li.breadcrumbs_item
        a(href = " ") Каталог
      li.breadcrumbs_item
        a(href = " ") Камины
      li.breadcrumbs_item_last Камины облицовки
    p.description В
      a.description_link(href=" ")  Дымоход.ру
      span   вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    include sectionQuality/sectionQuality
    block content
    include big_list/big_list
    block content
    include sectionQuestion/sectionQuestion
    block content
    include form/form
    block content
    include video/video
    block content
    include photo/photo
    block content




