
.main_title{
  //font-family: 'Montserrat', sans-serif;
  //font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
}
.breadcrumbs{
  width: 1218px;
  line-height: 15px;
  padding-top:14px;
  padding-bottom: 15px;
  margin: 41px auto;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  //font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}
.main_chapter{
  color: #B1B1B1;
}
.chapter{
  color: #4C858B
}
.arrow{
  margin-left: 8px;
  margin-right: 6px;
}

.description{
  width: 1218px;
  margin-top: 81px;
  vertical-align: center;
  padding-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}
.main_link{
  color: #E33E54;
  font-weight: 700;
  text-decoration: none;
}
.quality_container{
  width: 1318px;
  height: 601px;
  display: flex;
}
.quality_title{
  width: 615px;
  height: 123px;
}
.quality_h2{
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
}
.quality_h1{
  font-weight: 800;
  font-size: 50px;
  line-height: 63px;
  color: #E33E54;
  text-transform: uppercase;
  margin-top: -40px;
}
.quality_list{
  width: 513px;
  margin-top: 33px;
  background-color: blue;
  margin-left: 12px;
}
.quality_list_item{
  color: #EA6628;
  padding-left: 5px;
  font-size: 25px;
  margin-bottom: 20px;
  line-height: 24px;
}
.quality_list_item span{
  color: black;
  font-weight: 400;
  font-size: 16px;
}

