doctype html
html
  main.main
    h1.main_title Монтаж дымоходов
    div.breadcrumbs
      text.main_chapter Главная
      img.arrow(src="..//assets//images//arrow.png")
      text.chapter Монтаж дымоходов
    p.description В
      a.main_link(href="")  Дымоход.ру
      text вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    div.quality_container
      div.quality
        div.quality_title
          h2.quality_h2 Lorem ipsum dolor sit amet
          h1.quality_h1 Lorem ipsum
        ul.quality_list
          li.quality_list_item
            span Доступные цены
          li.quality_list_item
            span Собственное производсвто  Дымоходов
          li.quality_list_item
            span Выполнение необходимых работ, связанных с установкой камина, печи, котла
          li.quality_list_item
            span Гарантия (от трёх до десяти лет)
          li.quality_list_item
            span Работаем чисто, аккуратно, убираем за собой, не сквернословим
          li.quality_list_item
            span Только русские квалифицированные специалисты
          li.quality_list_item
            span Устанавливаем любые дымоходы всех производителей
      div.quality_img
        img(src = "..//assets//images//dimohod.svg")



