@import 'big_list/big_list';
@import 'sectionQuestion/sectionQuestion';
@import 'sectionQuality/sectionQuality';
@import 'form/form';
@import "video/video";
@import "photo/photo";
.main_title{
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin-top: 56px;
}
.breadcrumbs{
  max-width: 1218px;
  line-height: 15px;
  padding-top:14px;
  padding-bottom: 15px;
  margin: 41px auto;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  font-weight: 400;
  font-size: 12px;
}
.main_chapter{
  color: #B1B1B1;
}
.chapter{
  color: #4C858B
}
.arrow{
  margin-left: 8px;
  margin-right: 6px;
}

.description{
  max-width: 1218px;
  margin: 80px auto 0;
  vertical-align: center;
  padding-top: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;

}
.description_link{
  color: #E33E54;
  font-weight: 600;
  text-decoration: none;
}
.quality_container{
  margin: 13px auto 0 auto;
  display: flex;
  max-width: 100%;
}
.process{
  margin-top: 60px;
  max-width: 100%;
  font-family: 'Montserrat', sans-serif;
}
.overline{
  height: 5px;
  width: 74px;
  background-color: #E33E54;
  margin-left:0;
}
.headline_h2{
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-top: 0;
}
.question{
  margin-top: 80px;
  max-width: 100%;
}
.consultation{
  margin-top: 80px;
  max-width: 100%;
}
.video{
  margin-top: 108px;
}
.photo{
  max-width: 1230px;
  margin-top: 176px;
  margin-bottom: 116px;
}
@import 'body_media';



