doctype html
html
  main.main
    h1.main_title Монтаж дымоходов
    div.breadcrumbs
      text.main_chapter Главная
      img.arrow(src="..//assets//images//arrow.png")
      text.chapter Монтаж дымоходов
    p.description В
      a.main_link(href="")  Дымоход.ру
      text вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
    include sectionQuality/sectionQuality
    block content
    include big_list/big_list
    block content
    include sectionQuestion/sectionQuestion
    block content



