@import 'header/header';
@import 'body/body';
@import 'footer/footer';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:wght@400;600;700;800&display=swap');
html{
  width:1920px;
}
.header{
  display: flex;
  position: absolute;
  width: 1785px;
  height: 97px;
  left: 63px;
  top: 26px;
}
.main{
  position: relative;
  margin: 179px auto;
  width: 1221px;
  background-color: greenyellow;
  font-family: 'Montserrat', sans-serif;
}
