
.process_list{
  display: grid;
  grid-template-rows: repeat(3, 3fr);
  grid-template-columns: repeat(2,42px calc(50% - 42px - 28px));
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  width: 1218px;
  height: 278px;
  margin-top: 50px;
  list-style: none;
}
.process_list_item{
  margin-left: -20px;
  line-height: 30px;
}
.process_list_number{
  color: #E33E54;
  opacity: 0.2;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  margin-left: -38px;
}
