doctype html
html
  div.process
    hr.overline
    h2.headline_h2 Процесс выполнения монтажа
    ol.process_list
      li.process_list_number 1
      li.process_list_number 2
      li.process_list_number 3
      li.process_list_item Рассчёт предварительной заявки
      li.process_list_item Замер объекта нашим инженером
      li.process_list_item Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы
      li.process_list_number 4
      li.process_list_number 5
      li.process_list_number 6
      li.process_list_item Изготовление Дымохода, покраска (если требуется)
      li.process_list_item Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
      li.process_list_item Гарантийное обслуживание по соответствующем сроку
