
.process_list{
  column-count: 2;
  column-gap: 28px;
  counter-reset: numbers;
  min-height: 288px;
  margin-top: 51px;
  list-style: none;
  padding: 0;
  //vertical-align: center;
}
.process_list_item{
  display: inline-flex;
  align-items: center;
  margin-bottom: 11px;
  line-height: 30px;
  float: left;
}
.process_list_item::before{
  color: #E33E54;
  opacity: 0.2;
  width: 42px;
  font-weight: 700;
  font-size: 70px;
  line-height: 85px;
  counter-increment: numbers;
  content: counter(numbers);
  float: left;
  padding-right: 36px;
}
