@media(max-width:768px){
  .footer_section{
    display: none;
    top: 0;
  }
  .footer_social{
    position: relative;
    top: 28px;
    display: block;
    width: 203px;
    margin: 0 auto;
  }
}
