doctype html
meta(name = "viewport" content = "width=device-width, initial-scale=1.0")
html
  header.header
      div.logo
        img(src= "..//assets//images//logo.png")
      div.menu
        div.menu_burger
          img(width = "56px" height = "56px" src= "..//assets//images//menu.png")
          button.menu_burger_button
        ul.header_list
          a.header_list_link(href = "")
            li.header_list_item каталог товаров
          a.header_list_link(href = "")
            li.header_list_item доставка и оплата
          a.header_list_link(href = "")
            li.header_list_item цены
          a.header_list_link(href = "")
            li.header_list_item контакты
      div.contacts
        div.number
          text.greentext +7 (812)
          text.boldtext 509 21 98
        div.call_me
          text перезвоните мне
        include ../social/social
        block content
        +mixin_social_fill('#4C858B')
      div.option
        a(href = " ")
          img.search(src= "..//assets//images//search.png")
        a(href = " ")
          img.heart(src= "..//assets//images//heart.png")
        div.bag_container
          a(href = " ")
            img.bag(src= "..//assets//images//bag.png")
            span.amount
              text 10
        div.option_burger
          img(width = "56px" height = "56px" src= "..//assets//images//menu.png")
          button.option_burger_button

