doctype html
html
  section.quality_container
    div.quality
      div.quality_title
        h2.quality_headline1 Lorem ipsum dolor sit amet
        h3.quality_headline2 Lorem ipsum
      ul.quality_list
        li.quality_list_item
          span Доступные цены
        li.quality_list_item
          span Собственное производсвто  Дымоходов
        li.quality_list_item
          span Выполнение необходимых работ, связанных с установкой камина, печи, котла
        li.quality_list_item
          span Гарантия (от трёх до десяти лет)
        li.quality_list_item
          span Работаем чисто, аккуратно, убираем за собой, не сквернословим
        li.quality_list_item
          span Только русские квалифицированные специалисты
        li.quality_list_item
          span Устанавливаем любые дымоходы всех производителей
    div.quality_img
      img(src = "..//..//assets//images//dimohod.svg")
