.quality_title{
  min-width: 613px;
  height: 123px;
}

.quality_headline1{
  font-weight: 600;
  font-size: 40px;
  line-height: 63px;
}

.quality_headline2{
  font-weight: 800;
  font-size: 50px;
  line-height: 63px;
  color: #E33E54;
  text-transform: uppercase;
  margin-top: -39px;
}

.quality_list{
  margin-top: 38px;
  max-width: 515px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin-left: 28px;
}

.quality_list_item::before{
  color: #EA6628;
  content: "\2022";
  font-weight: 1000;
  font-size: 25px;
  line-height: 25px;
  padding-right: 17px;
  display: inline-flex;
  float: left;
}

.quality_list_item{
  color: black;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  float: left;
}
.quality_img{
  margin-top: 3px;
}
