doctype html
html
  section.question
    hr.overline
    h2.headline_h2 Почему Дымоход.ру?
    p.question_text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык»
    article.reasons_container
      div.reason
        img.reason_img(src = "..//assets//images//guarantee.svg")
        p.reason_title Большой гарантийный срок
        ul.reason_list
          li.reason_list_iteam Крепёж, стыковка элементов –
            span.reason_text_red  10 лет
          li.reason_list_iteam Сквозная коррозия труб –
            span.reason_text_red  5 лет
          li.reason_list_iteam Гидроизоляция –
            span.reason_text_red  3 года
      div.reason
        img.reason_img(src = "..//assets//images//architect.svg")
        p.reason_title Помощь в покупке агрегата
        p.reason_text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
      div.reason(id = "comments")
        img.reason_img(src = "..//assets//images//review.svg")
        p.reason_title Реальные отзывы клиентов
        p.reason_text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.
